# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDEA
.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/gradle.xml
# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
# Kotlin/Java
*.class
*.jar
*.war
*.ear
# OS
.DS_Store
Thumbs.db
# Logs / Temp
*.log
*.tmp